body {
  font-size: 100%;
}
.blog {
  font-size: 40px;
  color: gray;
  font-weight: bold;
}
.posts {
  font-size: 20px;
  color: red;
}
.postText {
  font-size: 14px;
  color: gray;
}
video {
  height: 375px;
  width: 500px;
}
.blogPhoto {
  width: 500px;
}
