@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
  font-size: 100%;
  font-family: 'Fjalla One', sans-serif;
}
header {
  background-color: gray;
}
.blog {
  font-size: 50px;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 5px;
}
.posts {
  font-size: 28px;
  color: #003366;
}
.postText {
  font-size: 14px;
  color: gray;
}
video {
  height: 375px;
  width: 500px;
}
.blogPhoto {
  width: 500px;
}
#map {
  height: 250px;
  width:600px;
}
fieldset.main {
  margin: 10px 0 10px 0;
  border: 1px solid black;
  padding: 10px;
  width: 575px;
  background-color: #E8F3EF;
}
input[type="text"], input[type="number"], input[type="email"] , input[type="tel"]{
  width: 100%;
  margin-bottom: 8px;
}
.navLinks a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
.navLinks a:hover {
  color: #E8F3EF;
}
footer {
  color: white;
  background-color: gray;
}
footer a {
  text-decoration: none;
  color: white;
  line-height: 1.4;
}
footer a:hover {
  color: #E8F3EF;
}
p {
  font-family: 'Lora', serif;
  line-height: 1.25;
}
aside {
  text-align: right;
}
